* {
    padding: 0;
    margin: 0;
    box-sizing: boder-box;
}

body {
    background-color: #0e111a;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;

}

.header {
   
    background-size: cover;
    position: relative;
    display: block;
}

.header-main {
    font-family: cursive;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    top: 100px
}

.lodo {
    height: 700px;
    width: 750px;
    position: absolute;
    left: 390px;
}

section {
    margin: 40px;
    padding: 0vh 1vh;
    display: block;
}

.intro {
    font-family: cursive;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 26px;
    padding-left: 60px;


}

.name {

    background: linear-gradient(to right, #fe8409 0%, #e8326d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 905px;
    left: 495px;
    border-radius:5px;
}


.button {
    position: relative;
    top: 250px;
    left: 48%;
    padding: 20px 40px;
    font-family: cursive;
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 1px;
    border-radius: 40px;
    text-decoration: none;
    color: white
}

/*==================================================*/

a:hover {
    background: linear-gradient(to right, #fe8409 0%, #e8326d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



/*=========================================================*/

@media(max-width:960px) {



    .header-main {
        font-family: cursive;
        align-items: center;
        display: flex;
        justify-content: center;
        position: relative;
        top: 80px;
        left: 160px;
    }

    .lodo {
        height: 700px;
        width: 800px;
        position: absolute;
        left: 0px
    }

    .intro {
        font-family: cursive;
        align-items: center;
        display: flex;
        justify-content: center;
        position: relative;
        top: 800px;
        font-weight: 400;
        font-size: 26px;
    }

}
